<div class="river hr-paragraphs-rw-list">
  <div class="river__results">
    {% for row in data %}
      <article class="river__result" data-rw-id="{{ row.id }}">
        <header>
          <p class="country">
            <span class="country--primary">{{ row.primary_country }}</span>
            {% if row.countries|length > 1 %}
              {{ '+ @count more'|t({'@count': row.countries|slice(1)|length}) }}
            {% endif %}
          </p>
          <h4 class="title"><a href="{{ row.url }}">{{ row.title }}</a></h4>
        </header>
        {% if row.body != '' %}
          <div class="content">
            {% for file in row.files|slice(0, 1) %}
              {% if file.preview != '' %}
                <img src="{{ file.preview }}" alt="{{ file.description }}">
              {% endif %}
            {% endfor %}

            {% if row.body|striptags|split(' ')|length > 36 %}
              <p>{{ row.body|striptags|split(' ')|slice(0, 36)|join(' ')|raw }}&hellip;</p>
            {% else %}
              <p>{{ row.body|striptags|raw }}</p>
            {% endif %}
          </div>
        {% endif %}
        <footer>
          <dl class="meta core">
            <dt class="format {{ row.format|clean_class }}">{{ 'Format'|t }}:</dt>
            <dd class="format {{ row.format|clean_class }}">{{ row.format }}</dd>

            <dt class="source">{{ 'Source'|t }}:</dt>
            <dd class="source">{{ row.sources }}</dd>

            <dt class="date posted">{{ 'Posted'|t }}:</dt>
            <dd class="date posted">{{ row.date_original|date("d M Y") }}</dd>

            {% if row.files|length > 0 %}
              <dt class="files">{{ 'Files'|t }}:</dt>
              <dd class="files">
                {% for file in row.files %}
                  <a href="{{ file.url }}" title="{{ file.url }}">
                    {{ file.filename }}
                  </a>
                {% endfor %}
              </dd>
            {% endif %}
          </dl>
        </footer>
      </article>
    {% endfor %}

    {{ pager }}

    {% if view_all %}
      <a href="{{ view_all }}">View all updates</a>
    {% endif %}
  </div>{# .river__results #}
</div>{# .river #}
