<div class="rw-document">
  <h2><a href="{{ doc.url }}">{{ doc.title }}</a></h2>
  <div>{{ 'Map/Infographic Type'|t }}: {{ doc.format }}</div>
  <div>{{ 'Managed by'|t }}: {{ doc.sources }}</div>
  <div>{{ 'Original Publication Date'|t }}: {{ doc.date_changed|date("d M Y") }} </div>
  {% if doc.files|length > 0 %}
  <div><h3>{{ 'Files'|t }}</h3>
    <ul class="dropdown-menu">
      {% for file in doc.files %}
      <li><a href="{{ file.url }}">{{ file.filename }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
