{#
/**
 * @file
 *
 * @see html/modules/custom/hr_paragraphs/src/Controller/ParagraphController.php
 */
#}
{{ attach_library('common_design/cd-read-more') }}
{{ attach_library('common_design_subtheme/hri-calendar') }}

<a{{ attributes.addClass('cd-read-more', 'hri-calendar__read-more') }} href="{{ calendar_url }}">
  {{ 'View original calendar'|t }}
  <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
    <use xlink:href="#cd-icon--arrow-right"></use>
  </svg>
</a>
