{{ attach_library('common_design_subtheme/hri-river') }}

<div class="hri-river">
  <div class="hri-river__results">
    {% for row in data %}
      <article class="hri-river__result">
        <header>
          <h4 class="title"><a href="{{ row.url }}">{{ row.title }}</a></h4>
        </header>
        <footer>
          <dl class="meta core">
            <dt class="format dataset visually-hidden">{{ 'Format'|t }}:</dt>
            <dd class="format dataset">{{ 'HDX Dataset'|t }}</dd>

            <dt class="source">{{ 'Source'|t }}:</dt>
            <dd class="source">{{ row.source }}</dd>

            <dt class="date posted">{{ 'Last updated'|t }}:</dt>
            <dd class="date posted">{{ row.date_changed|date("d M Y") }}</dd>
          </dl>
        </footer>
      </article>
    {% endfor %}

    {{ pager }}
  </div>{# .hri-river__results #}

  <div class="hri-river__facets-wrapper">
    <div class="hri-powered-by hri-powered-by--hdx">
      <span class="hri-powered-by__text">Powered by</span>
      <a class="hri-powered-by__link" href="https://data.humdata.org">
        <span class="visually-hidden">The Humanitarian Data Exchange</span>
      </a>
    </div>
  </div>{# .hri-river__facets-wrapper #}
</div>{# .hri-river #}
