{{ attach_library('common_design_subtheme/hri-layout') }}
{{ attach_library('common_design_subtheme/hri-river') }}

<div class="hri-river hri-layout hri-layout--two-col">
  <a href="#hri-river-filters" class="visually-hidden focusable skip-link">
    {{ 'Skip to filters'|t }}
  </a>

  <div class="hri-river__results hri-layout__main-content" id="hri-river-results" aria-labelledby="hri-river-results-heading">
    <h2 id="hri-river-results-heading" class="visually-hidden">Humanitarian Data Exchange results</h2>

    {% for row in data %}
      <article class="hri-river__result">
        <header>
          <h4 class="title"><a href="{{ row.url }}">{{ row.title }}</a></h4>
        </header>
        <footer>
          <dl class="meta core">
            <div>
              <dt class="format dataset visually-hidden">{{ 'Format'|t }}:</dt>
              <dd class="format dataset">{{ 'HDX Dataset'|t }}</dd>
            </div>

            <div>
              <dt class="source">{{ 'Source'|t }}:</dt>
              <dd class="source">{{ row.source }}</dd>
            </div>

            <div>
              <dt class="date posted">{{ 'Last updated'|t }}:</dt>
              <dd class="date posted">{{ row.date_changed|date("d M Y") }}</dd>
            </div>

            {% if row.files|length > 0 %}
            <div>
              <dt class="files">{{ 'Files'|t }}:</dt>
              <dd class="files">
                {% for file in row.files|slice(0,1) %}
                  <a class="cd-button cd-button--icon cd-button--small" href="{{ file.url }}" title="{{ file.name }}">
                    <span class="visually-hidden">{{ 'Download'|t }}</span>
                    <svg class="cd-icon cd-icon--copyurl" aria-hidden="true" focusable="false" width="16" height="16"><use xlink:href="#cd-icon--copyurl"></use></svg>
                  </a>
                {% endfor %}
                {% if row.files|length > 1 %}
                  <em>&nbsp;+ {{ row.files|length - 1 }} more</em>
                {% endif %}
              </dd>
            </div>
            {% endif %}
          </dl>
        </footer>
      </article>
    {% endfor %}

    {{ pager }}
  </div>{# .hri-river__results #}

  <a href="#hri-river-results" class="visually-hidden focusable skip-link">
    {{ 'Skip to results'|t }}
  </a>

  <div class="hri-river__facets-wrapper hri-layout__sidebar hri-layout__first" id="hri-river-filters" aria-labelledby="hri-river-filters-heading">
    <h2 id="hri-river-filters-heading" class="visually-hidden">Humanidarian Data Exchange filters</h2>

    <div class="hri-powered-by hri-powered-by--hdx">
      <span class="hri-powered-by__text">Powered by</span>
      <a class="hri-powered-by__link" href="https://data.humdata.org">
        <span class="visually-hidden">The Humanitarian Data Exchange</span>
      </a>
    </div>

    <p><em>{{ 'No filters available for this data.'|t }}</em></p>
  </div>{# .hri-river__facets-wrapper #}
</div>{# .hri-river #}
