{{ attach_library('common_design_subtheme/hri-table') }}

<table class="operations-dataset cd-table cd-table--striped">
  <thead>
    <tr>
      <th data-title="Dataset" class="cd-table--name">{{ 'Dataset'|t }}</th>
      <th data-title="Source" class="cd-table--name">{{ 'Source'|t }}</th>
      <th data-title="Last updated" class="cd-table--name">{{ 'Last updated'|t }}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td data-title="Dataset">
        <a href="https://data.humdata.org/dataset/{{ row.id }}">{{ row.title }}</a>
      </td>
      <td data-title="Source">{{ row.source }}</td>
      <td data-title="Last updated">{{ row.last_modified|date("d M Y") }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ pager }}
