{#
/**
 * @file
 * Theme override for an iFrame Paragraph.
 *
 * @overrides html/modules/custom/hr_paragraphs/templates/hr-paragraphs-iframe.html.twig
 */
#}
{{ attach_library('common_design_subtheme/hri-iframe') }}
{%
  set classes = [
    'hri-iframe',
    'hri-iframe--' ~ ratio,
  ]
%}
<div class="{{ classes|join(' ') }}">
  <iframe
    class="hri-iframe__iframe"
    sandbox="allow-scripts allow-same-origin"
    allow="autoplay; encrypted-media;"
    width="{{ width }}"
    data-width="{{ width }}"
    height="{{ height }}"
    data-height="{{ height }}"
    referrerpolicy="no-referrer"
    frameborder="0"
    target="_blank"
    src="{{ embed_url }}">
  </iframe>
</div>
