{#
/**
 * @file
 * Theme override to display a node.
 *
 * @overrides html/core/themes/stable/templates/content/node.html.twig
 *
 * @see template_preprocess_node()
 *
 */
#}
{{ attach_library('common_design/cd-alert') }}

<article{{ attributes }}>
  {{ title_suffix }}

  {% if is_archived %}
    <div class="group--archived">
      <div class="cd-alert">
        <div aria-live="polite">
          <svg class="cd-icon cd-icon--about" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--about"></use>
          </svg>
          <div class="cd-alert__container cd-max-width [ cd-flow ]">
            <div class="cd-alert__message">
              {{ archive_message|raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if can_edit %}
    {{ attach_library('common_design_subtheme/node-edit-link') }}
    <div class="node-edit--link">
      <a href="{{ path('entity.node.edit_form', {'node': node.id}) }}?destination={{ path('<current>') }}">{{ 'Edit this page'|t }}</a>
    </div>
  {% endif %}

  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
