{#
/**
 * @file
 * Display a Featured Highlight within the Card List.
 *
 * @overrides html/themes/custom/common_design_subtheme/templates/paragraph.html.twig
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('common_design_subtheme/hri-card')}}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'hri-card',
  ]
%}
{% block paragraph %}
  <article{{ attributes
    .addClass(classes)
    .setAttribute('data-type', paragraph.bundle)
    .setAttribute('id', paragraph.bundle ~ '-' ~ paragraph.id())
  }}>
    {% block content %}
      <div{{ content_attributes.addClass('node__content').addClass('hri-card__content') }}>
        {{ content.field_image }}
        <h3 class="hri-card__title">{{ content.field_title.0 }}</h3>
        <div class="hri-card__summary">{{ content.field_text|render|striptags('<br><p><ol><ul><li><em><b><strong>')|raw }}</div>
        <a href="{{ paragraph.field_destination.0.url }}" class="hri-card__link" title="{{ 'View more'|t }}">{{ 'View more'|t }}</a>
      </div>
    {% endblock %}
  </article>
{% endblock paragraph %}
