{{ attach_library('common_design/cd-alert') }}
{{ attach_library('common_design_subtheme/hri-layout') }}
{{ attach_library('common_design_subtheme/hri-river') }}

{% if is_archived %}
  <div class="group--archived">
    <div class="cd-alert">
      <div aria-live="polite">
        <svg class="cd-icon cd-icon--about" aria-hidden="true" focusable="false" width="16" height="16">
          <use xlink:href="#cd-icon--about"></use>
        </svg>
        <div class="cd-alert__container cd-max-width [ cd-flow ]">
          <div class="cd-alert__message">
            {{ archive_message|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="hri-river hri-layout hri-layout--two-col">
  <div class="hri-river__results hri-layout__main-content" id="hri-river-results" aria-labelledby="hri-river-results-heading">
    <h2 id="hri-river-results-heading" class="visually-hidden">{{ '@service results'|t({'@service': service}) }}</h2>

    {% for row in data %}
      {% include '@common_design_subtheme/river-row.html.twig' %}
    {% endfor %}

    {{ pager }}
  </div>{# .hri-river__results #}

  <div class="hri-river__facets-wrapper hri-layout__sidebar hri-layout__first" id="hri-river-filters" aria-labelledby="hri-river-filters-heading">
    <h2 id="hri-river-filters-heading" class="visually-hidden">{{ '@service filters'|t({'@service': service}) }}</h2>

    <div class="hri-powered-by hri-powered-by--{{ service|clean_class }}">
      <span class="visually-hidden">{{ service }}</span>
      <div class="hri-powered-by__link" href="{{ service_url }}">
        <span class="visually-hidden">{{ service }}</span>
      </div>
    </div>

    {# Variables are already translated. #}
    <p>This selection of {{ set_name|lower }} for {{ group.label() }} is powered by {{ service }}.</p>

    <a class="cd-button cd-button--icon cd-button--small" href="{{ view_all }}" target="_blank">
      <span class="cd-button__text">{{ 'View all updates'|t }}</span>
      <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16"><use xlink:href="#cd-icon--arrow-right"></use></svg>
    </a>

  </div>{# .hri-river__facets-wrapper #}

</div>{# .hri-river #}
