{{ attach_library('common_design/cd-alert') }}
{{ attach_library('common_design_subtheme/hri-layout') }}
{{ attach_library('common_design_subtheme/hri-river') }}

{% if is_archived %}
  <div class="group--archived">
    <div class="cd-alert">
      <div aria-live="polite">
        <svg class="cd-icon cd-icon--about" aria-hidden="true" focusable="false" width="16" height="16">
          <use xlink:href="#cd-icon--about"></use>
        </svg>
        <div class="cd-alert__container cd-max-width [ cd-flow ]">
          <div class="cd-alert__message">
            {{ archive_message|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="hri-river hri-layout hri-layout--two-col">
  <a href="#hri-river-filters" class="visually-hidden focusable skip-link">
    {{ 'Skip to filters'|t }}
  </a>

  <div class="hri-river__results hri-layout__main-content" id="hri-river-results" aria-labelledby="hri-river-results-heading">
    <h2 id="hri-river-results-heading" class="visually-hidden">{{ service }} results</h2>

    {% for row in data %}
      {% include '@common_design_subtheme/river-row.html.twig' %}
    {% endfor %}

    {{ pager }}
  </div>{# .hri-river__results #}

  <a href="#hri-river-results" class="visually-hidden focusable skip-link">
    {{ 'Skip to results'|t }}
  </a>

  <div class="hri-river__facets-wrapper hri-layout__sidebar hri-layout__first" id="hri-river-filters" aria-labelledby="hri-river-filters-heading">
    <h2 id="hri-river-filters-heading" class="visually-hidden">{{ service }} filters</h2>

    <div class="hri-powered-by hri-powered-by--{{ service|clean_class }}">
      <span class="hri-powered-by__text">Powered by</span>
      <a class="hri-powered-by__link" href="{{ service_url }}">
        <span class="visually-hidden">{{ service }}</span>
      </a>
    </div>

    <p class="hri-river__facets-count">
      {% set pluralize = total == 1 ? '' : 's' %}
      <span class="hri-river__facets-count__value">{{ total }}</span> document{{ pluralize }} found
    </p>

    {% if active_facets|length > 0 %}
      <div class="hri-river__facets--active">
        <details open>
          <summary>{{ 'Remove filters'|t }} </summary>
          <ul>
          {% for link in active_facets %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        </details>
      </div>
    {% endif %}

    {% for facet in facets %}
      <div class="hri-river__facets">
        <details {% if facet.open %}open{% endif %}>
          <summary>{{ facet.title }}</summary>
          <ul class="hri-river__facet">
          {% for link in facet.links %}
            <li class="hri-river__facet-link"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        </details>
      </div>
    {% endfor %}
  </div>{# .hri-river__facets-wrapper #}

</div>{# .hri-river #}
