{{ attach_library('common_design_subtheme/hri-layout') }}
{{ attach_library('common_design_subtheme/hri-river') }}

<div class="hri-river hri-layout hri-layout--two-col">
  <a href="#hri-river-filters" class="visually-hidden focusable skip-link">
    {{ 'Skip to filters'|t }}
  </a>

  <div class="hri-river__results hri-layout__main-content" id="hri-river-results" aria-labelledby="hri-river-results-heading">
    <h2 id="hri-river-results-heading" class="visually-hidden">{{ service }} results</h2>

    {% for row in data %}
      <article class="hri-river__result" data-rw-id="{{ row.id }}">
        <header>
          <p class="country">
            <span class="country--primary">{{ row.primary_country }}</span>
            {% if row.countries|length > 1 %}
              + {{ row.countries|slice(1)|length }} more
            {% endif %}
          </p>
          <h3 class="title"><a href="{{ row.url }}">{{ row.title }}</a></h3>
        </header>

        <div class="content">
          {% for file in row.files|slice(0, 1) %}
            {% if file.preview != '' %}
              <img src="{{ file.preview }}" alt="{{ file.description }}">
            {% endif %}
          {% endfor %}

          {% if row.body != '' %}
            {% if row.body|striptags|split(' ')|length > 36 %}
              <p>{{ row.body|striptags|split(' ')|slice(0, 36)|join(' ')|raw }}&hellip;</p>
            {% else %}
              <p>{{ row.body|striptags|raw }}</p>
            {% endif %}
          {% else %}
            {% for file in row.files|slice(0, 1) %}
              {% if file.preview != '' %}
                <p>{{ 'Please see the attached infographic.'|t }}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        <footer>
          <dl class="meta core">
            <div>
              <dt class="format {{ row.format|clean_class }} visually-hidden">{{ 'Format'|t }}:</dt>
              <dd class="format {{ row.format|clean_class }}">{{ row.format|t }}</dd>
            </div>

            <div>
              <dt class="source">{{ 'Source'|t }}:</dt>
              <dd class="source">{{ row.sources }}</dd>
            </div>

            <div>
              <dt class="date posted">{{ 'Posted'|t }}:</dt>
              <dd class="date posted">{{ row.date_changed|date("d M Y") }}</dd>
            </div>

            {% if row.files|length > 0 %}
            <div>
              <dt class="files">{{ 'Files'|t }}:</dt>
              <dd class="files">
                {% for file in row.files|slice(0,1) %}
                  <a class="cd-button cd-button--icon cd-button--small cd-button--icon-no-margin" href="{{ file.url }}" title="{{ file.name }}">
                    <span class="visually-hidden">{{ 'Download'|t }}</span>
                    <svg class="cd-icon cd-icon--copyurl" aria-hidden="true" focusable="false" width="16" height="16"><use xlink:href="#cd-icon--copyurl"></use></svg>
                  </a>
                {% endfor %}
                {% if row.files|length > 1 %}
                  <em>&nbsp;+ {{ row.files|length - 1 }} more</em>
                {% endif %}
              </dd>
            </div>
            {% endif %}
          </dl>
        </footer>
      </article>
    {% endfor %}

    {{ pager }}
  </div>{# .hri-river__results #}

  <a href="#hri-river-results" class="visually-hidden focusable skip-link">
    {{ 'Skip to results'|t }}
  </a>

  <div class="hri-river__facets-wrapper hri-layout__sidebar hri-layout__first" id="hri-river-filters" aria-labelledby="hri-river-filters-heading">
    <h2 id="hri-river-filters-heading" class="visually-hidden">{{ service }} filters</h2>

    <div class="hri-powered-by hri-powered-by--{{ service|clean_class }}">
      <span class="hri-powered-by__text">Powered by</span>
      <a class="hri-powered-by__link" href="{{ service_url }}">
        <span class="visually-hidden">{{ service }}</span>
      </a>
    </div>

    <p class="hri-river__facets-count">
      {% set pluralize = total == 1 ? '' : 's' %}
      <span class="hri-river__facets-count__value">{{ total }}</span> document{{ pluralize }} found
    </p>

    {% if active_facets|length > 0 %}
      <div class="hri-river__facets--active">
        <details open>
          <summary>{{ 'Remove filters'|t }} </summary>
          <ul>
          {% for link in active_facets %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        </details>
      </div>
    {% endif %}

    {% for facet in facets %}
      <div class="hri-river__facets">
        <details>
          <summary>{{ facet.title }}</summary>
          <ul class="hri-river__facet">
          {% for link in facet.links %}
            <li class="hri-river__facet-link"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        </details>
      </div>
    {% endfor %}
  </div>{# .hri-river__facets-wrapper #}

</div>{# .hri-river #}
