{{ attach_library('common_design_subtheme/hri-river') }}

<div class="hri-river">
  <div class="hri-river__results">
    {% for row in data %}
      <article class="hri-river__result" data-rw-id="{{ row.id }}">
        <header>
          <p class="country">
            <span class="country--primary">{{ row.primary_country }}</span>
            {% if row.countries|length > 1 %}
              + {{ row.countries|slice(1)|length }} more
            {% endif %}
          </p>
          <h4 class="title"><a href="{{ row.url }}">{{ row.title }}</a></h4>
        </header>
        {% if row.body != '' %}
          <div class="content">
            {% for file in row.files|slice(0, 1) %}
              {% if file.preview != '' %}
                <img src="{{ file.preview }}" alt="{{ file.description }}">
              {% endif %}
            {% endfor %}

            {% if row.body|striptags|split(' ')|length > 36 %}
              <p>{{ row.body|striptags|split(' ')|slice(0, 36)|join(' ') }}&hellip;</p>
            {% else %}
              <p>{{ row.body }}</p>
            {% endif %}
          </div>
        {% endif %}
        <footer>
          <dl class="meta core">
            <dt class="format {{ row.format|clean_class }} visually-hidden">{{ 'Format'|t }}:</dt>
            <dd class="format {{ row.format|clean_class }}">{{ row.format }}</dd>

            <dt class="source">{{ 'Source'|t }}:</dt>
            <dd class="source">{{ row.sources }}</dd>

            <dt class="date posted">{{ 'Posted'|t }}:</dt>
            <dd class="date posted">{{ row.date_changed|date("d M Y") }}</dd>

            {% if row.files|length > 0 %}
              <dt class="files">{{ 'Files'|t }}:</dt>
              <dd class="files">
                {% for file in row.files %}
                  <a class="cd-button cd-button--icon cd-button--small" href="{{ file.url }}" title="{{ file.url }}">
                    <span class="visually-hidden">{{ 'Download'|t }}</span>
                    <svg class="cd-icon cd-icon--copyurl" aria-hidden="true" focusable="false" width="16" height="16"><use xlink:href="#cd-icon--copyurl"></use></svg>
                  </a>
                {% endfor %}
              </dd>
            {% endif %}
          </dl>
        </footer>
      </article>
    {% endfor %}

    {{ pager }}
  </div>{# .hri-river__results #}

  <div class="hri-river__facets-wrapper">
    <p class="hri-river__facets-count">
      <span class="hri-river__facets-count__value">{{ total }}</span> documents found
    </p>

    {% if active_facets|length > 0 %}
      <div class="hri-river__facets--active">
        <details open>
          <summary>{{ 'Remove filters'|t }} </summary>
          <ul>
          {% for link in active_facets %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        </details>
      </div>
    {% endif %}

    {% for facet in facets %}
      <div class="hri-river__facets">
        <details>
          <summary>{{ facet.title }}</summary>
          <ul class="hri-river__facet">
          {% for link in facet.links %}
            <li class="hri-river__facet-link"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        </details>
      </div>
    {% endfor %}
  </div>{# .river__facets-wrapper #}

</div>{# .river #}
