{#
/**
 * @file
 * Theme override to display the Upcoming Events paragraph type.
 *
 * @overrides html/modules/custom/hr_paragraphs/templates/upcoming-events.html.twig
 */
#}
{{ attach_library('common_design_subtheme/hri-events') }}
{{ attach_library('common_design/cd-button') }}

{% set previousEventStart = '' %}

<div class="hri-events">
  {% if events|length > 0 %}
    <div class="hri-events__timezone-info">
      {{ 'Time zone:'|t }} <span class="hri-events__timezone-value">{{ events[0].timezone_string }}</span>
    </div>
  {% endif %}
  <ul class="hri-events__list">
    {% for event in events %}
      {% set random = random() %}
      {% if previousEventStart != event.local_start|date("j M Y") %}
        <li class="hri-events__heading event-heading">
          <div class="event-heading__date">
            {{ event.local_start|date("j M Y") }}
          </div>
          <div class="event-heading__day">
            {{ event.local_start|date("l")|t }}
          </div>
        </li>
      {% endif %}

      {% set event_has_desc = event.description != '' ? ' hri-event--has-desc' : '' %}
      {% set event_details = event.description|replace({'\n': ' '})|replace({'<br>': ' '})|striptags|replace({'&nbsp;': ' '})|replace({'  ': ' '})|replace({'  ': ' '})|replace({'  ': ' '})|trim %}

      <li class="hri-events__event hri-event{{ event_has_desc }}">
        <span class="hri-event__title" data-for="hri-event__desc{{ random }}" title="{{ event_details }}">{{ event.title }}</span>
        <span class="hri-event__time">
          <time datetime="{{ event.local_start|date("c") }}">{{ event.local_start|date("h:i A") }}</time>
          <span class="visually-hidden">{{ 'until'|t }}</span>-
          <time datetime="{{ event.local_end|date("c") }}">{{ event.local_end|date("h:i A") }}</time>
        </span>
        <span class="hri-event__desc visually-hidden" id="hri-event__desc{{ random }}">
          {{ event.description|replace({'<br><br>': '<br>'})|replace({'<br><br>': '<br>'})|replace({'<br><br>': '<br>'})|replace({'<br><br>': '<br>'})|raw }}
        </span>
        {% if event_has_desc %}
          <span class="hri-event__copy">
            <button class="cd-button cd-button--icon cd-button--small cd-button--icon-no-margin hri-tooltip" data-message="{{ 'Event details copied to clipboard'|t }}" data-details="{{ event.title }} — {{ event.local_start|date("h:i A") }} — {{ event_details }}" title="{{ 'Copy event details'|t }}">
              <span class="visually-hidden">{{ 'Copy event details'|t }}</span>
              <svg class="cd-icon cd-icon--copy" aria-hidden="true" focusable="false" width="16" height="16"><use xlink:href="#cd-icon--copy"></use></svg>
            </button>
          </span>
        {% endif %}
      </li>

      {% set previousEventStart = event.local_start|date("j M Y") %}
    {% endfor %}
  </ul>

  <a class="cd-button cd-button--small cd-button--icon" href="{{ read_more.url }}">
    <span class="cd-button__text">{{ 'View all events'|t }}</span>
    <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16"><use xlink:href="#cd-icon--arrow-right"></use></svg>
  </a>
</div>
