{#
/**
 * @file
 * HR.info override for a main view template.
 *
 * @overrides html/themes/contrib/common_design/templates/views/views-view.html.twig
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{{ attach_library('common_design_subtheme/rw-country') }}
{{ attach_library('common_design_subtheme/rw-river') }}
{{ attach_library('common_design_subtheme/rw-river-letter-navigation') }}
{%
  set classes = [
    'rw-river-page',
    'rw-river-page--countries',
    'rw-river-page--countries--all',
    'rw-river-page--with-views',
    'rw-river-page--with-letter-navigation',
    'rw-river-page--with-links',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}

  <div class="rw-river-views">
    <ul id="rw-river-views__list">
      <li class="rw-river-views__list__item rw-river-views__list__item--selected">
        <a href="/locations" class="rw-river-views__link" data-view="all">All Locations</a>
      </li>
    </ul>
  </div>

  <div class="rw-river-letter-navigation-wrapper" id="rw-river-letter-navigation-wrapper">
    {% set id = 'letter-navigation' %}
    <nav{{ attributes
      .addClass([
        'rw-river-letter-navigation',
      ])
      .setAttribute('id', id)
      .setAttribute('aria-labelledby', id ~ '-title')
    }}>
      <h2{{ title_attributes
        .addClass([
          'rw-river-letter-navigation__title',
          'visually-hidden',
        ])
        .setAttribute('id',  id ~ '-title')
      }}>Jump to letter</h2>

      <ul class="rw-river-letter-navigation__list">
      {% for row in rows %}
        <li class="rw-river-letter-navigation__list__item"><a{{ create_attribute()
          .addClass([
            'rw-river-letter-navigation__link'
          ])
          .setAttribute('href', '#group-' ~ row['#title']|render|striptags|trim)
        }}>{{ row['#title']|render|striptags|trim }}</a></li>
      {% endfor %}
        <li class="rw-river-letter-navigation__list__item"><a{{ create_attribute()
          .addClass([
            'rw-river-letter-navigation__link'
          ])
          .setAttribute('href', '#')
        }}>{{ 'All'|t }}</a></li>
      </ul>
    </nav>
    </ul>
  </div>

  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <ul class="rw-river rw-river-country-list">
      {{ rows }}
    </ul>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
</section>
